<%- include('../partials/header') %>
<div class="d-flex justify-content-start display_view_setting">
    <%- include('../partials/left_menu') %>
    <div class="display_content_modules">
        <div class="content_views-principal" id="content_equipment">
            <div>
                <span class="titles_on_view">Equipos de la UTS</span>
            </div>
            <div class="d-flex justify-content-between" id="select_page_content">
                <label for="lang">Ver
                    <select name="numeric" id="select_equiment">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5" selected>5</option>
                        <option value="6">6</option>
                        <option value="10">10</option>
                        <option value="18">18</option>
                    </select>
                    elementos
                </label>
                <div class="d-flex div_search_contens" role="search">

                    <input class="form-control me-2 search_input" placeholder="Buscar" id="search_equiment"
                           aria-label="Search">
                    <button id="btn_new_equiment" class="btn_new" type="submit"><i class="fa-solid fa-plus"></i>
                    </button>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div>
                <div class='card cards_content' id='cards_content_equiment'>
                    <div style="display:flex;justify-content:center;align-items:center">
                        <div style="height:100%;width:auto; display:flex;">
                            <div class="sk-cube-grid">
                                <div class="sk-cube sk-cube1"></div>
                                <div class="sk-cube sk-cube2"></div>
                                <div class="sk-cube sk-cube3"></div>
                                <div class="sk-cube sk-cube4"></div>
                                <div class="sk-cube sk-cube5"></div>
                                <div class="sk-cube sk-cube6"></div>
                                <div class="sk-cube sk-cube7"></div>
                                <div class="sk-cube sk-cube8"></div>
                                <div class="sk-cube sk-cube9"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="creator">
                    <div aria-label="Page navigation example" class="pagination" id="pagination_equiment">
                        <label id="label_pagination">Pagina
                            <input type="number" value="1" id="input_pagination_equiment" class="input_pagination">
                            de
                            <label id="paginacion_equiment_all"></label>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" id="btn-pagination-equiment-iz" class="btn btn-primary">
                                    <i class="fa-solid fa-chevron-left"></i>
                                </button>
                                <button type="button" id="btn-pagination-equiment-de" class="btn btn-primary">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </button>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="display_new" id="display_new_equipment">
            <button class="btn-back-to">VOLVER</button>
            <form  method="post" id="form_new_equipment" >
                <div id="resultado"></div>
                <br />
                <br />
                <br />
                <span class="titles_on_view">Crear nuevo equipo</span>
                <div class="conteiner_form_div">
                    <div class="conteiner_form_module">
                        <div>
                        <div class="user-img-profile">
                            <div class="user-img-profile-icon" id="user_img_profile_icon-new">
                                <i class="fas fa-file-image fa-1x"></i>
                            </div>
                            <button id="btn_activate_modal_new_equipment_img myBtn" class="img-active-modal"
                                    type="button" data-bs-toggle="modal"
                                    data-bs-target="#modal_img_profile_container">
                                <i class="fa-solid fa-pencil"></i></button>
                        </div>
                            <input type="hidden"  id="input_img_new_equipment" name="img_new_equipment_name">
                        </div>
                        <div class="user-information">
                            <div class="container-two-select-styles mb-3">
                                <div class="form-floating styles_container_input_number_ducumnet">
                                    <select class="form-select styles-font-input" name="select_new_equipment_classification"
                                            id="input_new_equipment_classification">
                                    </select>
                                    <label class="form-control-placeholder"
                                           for="input_new_equipment_classification">Clasificación del equipo</label>
                                </div>
                                <div class="form-floating styles_container_input_number_ducumnet">
                                    <select class="form-select styles-font-input right" name="typesequipmente_new_equipment"
                                            id="input_new_equipment_types">
                                    </select>
                                    <label class="form-control-placeholder"
                                           for="input_new_equipment_building">Tipo de equipo</label>
                                </div>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control styles-font-input"
                                       name="name_equipment_new" id="input_new_equipment_name"
                                       placeholder="Nombre">
                                <label for="input_new_equipment_name">Nombre del equipo</label>
                            </div>
                            <div class="form-floating  mb-3">
                                <input type="text" class="form-control styles-font-input"
                                       name="Model_equipment_new" id="input_new_equipment_Model"
                                       placeholder="Modelo">
                                <label class="label-two-select-color" for="input_new_equipment_Model">Modelo del equipo</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control styles-font-input"
                                       name="brand_equipment_new" id="input_new_equipment_brand"
                                       placeholder="Marca">
                                <label for="input_new_equipment_brand">Marca del equipo</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control styles-font-input"
                                       name="price_equipment_new" id="input_new_users_price" placeholder="Precio">
                                <label for="input_new_users_price">Precio del equipo</label>
                            </div>
                            <div class="form-floating mb-3">
                                    <input type="datetime-local" class="form-control styles-font-input"
                                           name="date_shoping_new_equipment" id="date_shoping_new_equipment" >
                                    <label for="date_shoping_new_equipment">Fecha de compra del equipo</label>
                            </div>

                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a comment here" id="fuction_new_equipment" name="fuction_new_equipment" style="height: 100px"></textarea>
                                <label for="floatingTextarea2">Funcionamiento del equipo</label>
                            </div>
                        </div>
                    </div>
                </div>
                    <div>
                        <div class="creator">
                            <br/>
                            <button type="submit" class="btn-save ">Continuar</button>
                        </div>
                    </div>
            </form>
            <form id="for_new_paremters">
                <br />
                <br />
                <br />
                <div class="conteiner_form_div">
                    <div class="conteiner_form_module_details" >
                        <div class="user-information" id="details-equipment">
                        </div>
                    </div>
                </div>
                <div>
                    <div class="creator">
                        <br/>
                        <button type="submit" class="btn-save ">Continuar</button>
                    </div>
                </div>
            </form>
            <form id="for_new_parts">
                <br />
                <br />
                <br />
                <div class="conteiner_form_div">
                    <div class="conteiner_form_module_details" >
                        <div class="user-information" id="parts-equipment">
                            <div class="form-floating mb-3" id="contenedor_num_parts_equipment">
                                <input type="text" class="form-control styles-font-input"
                                       name="price_equipment_new" id="input_num_parts_equipment" placeholder="Precio">
                                <label for="input_new_users_price">Numeros de partes del equipo</label>
                                <br>
                                <button type="button" class="btn-save" id="num_parts_equipment">Continuar</button>
                            </div>
                            <div id="conten-form-parts">

                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="creator">
                        <br/>
                        <button  class="btn-save " id="btn_submit_parts">Continuar</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="display_new" id="display_update_equipment">
            <button class="btn-back-to">VOLVER</button>
            <form  method="post" id="form_update_equipment">
                <div id="resultado"></div>
                <br />
                <br />
                <br />
                <span class="titles_on_view">Editar equipo</span>
                <div class="conteiner_form_div">
                    <div class="conteiner_form_module">
                        <div>
                            <div class="user-img-profile">
                                <div class="user-img-profile-icon" id="user_img_profile_icon-update">
                                    <i class="fas fa-file-image fa-1x"></i>
                                </div>
                                <button id="btn_activate_modal_update_equipment_img myBtn" class="img-active-modal"
                                        type="button" data-bs-toggle="modal"
                                        data-bs-target="#modal_img_profile_container_update_equipment">
                                    <i class="fa-solid fa-pencil"></i></button>
                            </div>
                            <input type="hidden"  id="input_img_update_equipment" name="img_update_equipment_name">
                        </div>
                        <div class="user-information">
                            <div class="container-two-select-styles mb-3">
                                <div class="form-floating styles_container_input_number_ducumnet">
                                    <select class="form-select styles-font-input" name="select_update_equipment_classification"
                                            id="input_update_equipment_classification" disabled>
                                    </select>
                                    <label class="form-control-placeholder"
                                           for="input_update_equipment_classification">Clasificación del equipo</label>
                                </div>
                                <div class="form-floating styles_container_input_number_ducumnet">
                                    <select class="form-select styles-font-input right" name="typesequipmente_update_equipment"
                                            id="input_update_equipment_types" disabled>
                                    </select>
                                    <label class="form-control-placeholder"
                                           for="input_update_equipment_types">Tipo de equipo</label>
                                </div>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control styles-font-input"
                                       name="name_equipment_update" id="input_update_equipment_name"
                                       placeholder="Nombre">
                                <label for="input_update_equipment_name">Nombre del equipo</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control styles-font-input"
                                       name="Model_equipment_update" id="input_update_equipment_Model"
                                       placeholder="Modelo">
                                <label class="label-two-select-color" for="input_update_equipment_Model">Modelo del equipo</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control styles-font-input"
                                       name="brand_equipment_update" id="input_update_equipment_brand"
                                       placeholder="Marca">
                                <label for="input_update_equipment_brand">Marca del equipo</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control styles-font-input"
                                       name="price_equipment_update" id="input_update_users_price" placeholder="Precio">
                                <label for="input_update_users_price">Precio del equipo</label>
                            </div>
                            <div class="container-two-input-styles mb-3">
                                <div class="form-floating styles_container_input_document_type">
                                    <select class="form-select styles-font-input" name="campus_update_equipment"
                                            id="input_update_equipment_campus">
                                    </select>
                                    <label class="form-control-placeholder"
                                           for="input_update_equipment_campus">Sede de locacion del equipo</label>
                                </div>
                                <div class="form-floating styles_container_input_number_ducumnet">
                                    <input type="datetime-local" class="form-control styles-font-input"
                                           name="date_shoping_update_equipment" id="date_shoping_update_equipment" >
                                    <label for="date_shoping_update_equipment">Fecha de compra del equipo</label>
                                </div>
                            </div>
                            <div class="container-two-select-styles mb-3">
                                <div class="form-floating styles_container_input_number_ducumnet">
                                    <select class="form-select styles-font-input" name="building_update_equipment" id="input_update_equipment_building">
                                    </select>
                                    <label class="form-control-placeholder"
                                           for="input_update_equipment_building">Edifcio de locacion del equipo</label>
                                </div>
                                <div class="form-floating styles_container_input_number_ducumnet">
                                    <select class="form-select styles-font-input right" name="floor_update_equipment"
                                            id="input_update_equipment_floor">
                                    </select>
                                    <label class="form-control-placeholder"
                                           for="input_update_equipment_floor">Piso de locacion del equipo</label>
                                </div>
                            </div>
                            <div class="container-two-select-styles mb-3">
                                <div class="form-floating styles_container_input_number_ducumnet">
                                    <select class="form-select styles-font-input" name="area_update_equipment"
                                            id="input_update_equipment_area">
                                    </select>
                                    <label class="form-control-placeholder"
                                           for="input_update_equipment_area">Area de locacion del equipo</label>
                                </div>
                                <div class="form-floating styles_container_input_number_ducumnet">
                                    <select class="form-select styles-font-input right" name="space_update_equipment"
                                            id="input_update_equipment_space">
                                    </select>
                                    <label class="form-control-placeholder"
                                           for="input_update_equipment_space">Espacio de locacion del equipo</label>
                                </div>
                            </div>
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a comment here" id="fuction_update_equipment" name="fuction_update_equipment" style="height: 100px"></textarea>
                                <label for="floatingTextarea2">Funcionamiento del equipo</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="creator">
                        <br/>
                        <button type="submit" class="btn-save ">Continuar</button>
                    </div>
                </div>
            </form>
            <form action="" method="post" id="for_update_paremters ">
                <div>

                </div>
            </form>
        </div>
        <div class="display_view" id="display_equipment_view">
            <button class="btn-back-to">VOLVER</button>
            <br/>
            <br/>
            <br/>
            <span class="titles_on_view">Visualizar equipo</span>
            <div class="conteinder-equipment-view-info">
                <div class="conteinder-quipment-view">
                    <div class="conteinder-equipment-view-info-div">
                        <div class="container-img-equipment-view">
                            <div class="equipment-img-profile-icon" id="equipment-img-profile">

                            </div>
                        </div>
                        <div class="container-info-equipment-view">
                            <label class='label-spna-font'>Datos Técnicos</label>
                            <label class='styles-cards-font' id="view-equipment-Clasification"></label>
                            <label class='styles-cards-font' id="view-equipment-TypesEquipment"></label>
                            <label class='styles-cards-font' id="view-equipment-Name"></label>
                            <label class='styles-cards-font' id="view-equipment-Model"></label>
                            <label class='styles-cards-font' id="view-equipment-Brand"></label>
                            <label class='styles-cards-font' id="view-equipment-fuction"></label>
                        </div>
                        <div class="container-equipment-info">
                            <div class="conatiner-info-user-equipmente-ubications">
                            </div>
                            <div class="container-info-user-equipment">
                            </div>
                        </div>

                    </div>
                </div>
                <div >
                <div class=conteinder-equipment-view-info" style="display: flex;">
                    <div class="conteinder-equipment-view-details"  style="margin-right: 2%">
                        <div id="conteiner-equipment-view-details-equipment">

                        </div>
                    </div>
                    <div class="conteinder-equipment-view-details" >
                        <div id="conteiner-equipment-view-parts-equipment">

                        </div>
                    </div>
                </div>
            </div>
            </div>
            <footer>
                <div>
                    <div class="creator">
                        <br/>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <%- include('../partials/right_menu') %>
</div>
<%- include('../partials/modal_equipment') %>
<%- include('../partials/Importjs') %>
<script src="/js/base64.min.js"></script>
<script src="/js/ViewEquipment.js"></script>
</body>
</html>